.UsersAndMakers {
    
    &__title {
        position: absolute;
        opacity: 0;
        top: 50px;
        left: 0;
        transition-duration: 0.5s;
        transition-delay: 0.3s;
        transition-timing-function: ease-out;
        transform: translate(-50%, -50%);
        margin-top: 0px;
    }

    .line {
        left: -174px;
        width: 0;
        transition-duration: 0.5s;

        &.right {
            left: 174px;
        }
    }

    &.appear {

        .UsersAndMakers__title  {
            transition-duration: 1s;
            transition-delay: 0.4s;
            opacity: 1;
            top: 0;
        }

        .line {
            transition-delay: 0.8s;
            width: 225px;
        }

        .chapter {
            transform: translate(-50%, -65%);            
        }
    }
}