doctype html
html
   head
      title= "Remote Control"
      link(rel="stylesheet", href="/stylesheets/style.css")
   body
      div.next Next
      div.prev Prev
      script(src='/scripts/main.js')