.photoshop {
    position: absolute;
    top: -50vh;
    height: 100vh;
    width: 50vw;
    left: -50vw;
    font-family: Roboto, serif;

    &__app {
        background: #282828;
        width: calc(100% - 7vw);
        position: absolute;
        bottom: 2vw;
        left: 5vw;
        height: 75vh;

        .sidebar {
            height: 100%;
            transform: translateX(-100%);
        }

        .topbar {
            position: absolute;
            width: 100%;
            left: 0;
        }

        .playground {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -47%);
            width: 35vw;
            height: 60vh;

            .cursor {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 18px;
            }

            .selection {
                top: 50%;
                left: 50%;
                position: absolute;
                background: rgba(64, 116, 194, 0.459);
                border: 2px solid rgba(93, 158, 255, 0.808);
            }
        }
    }
}