@import './base';

.line {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    background: #345B6B;
    width: 100px;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

.chapter {
    transform: translate(-50%, -45%);
    opacity: 0;
    transition-duration: 1s;
}
.appear {
    .chapter {
        transition-delay: 0.6s;
        opacity: 1;
        transform: translate(-50%, -60%);
    }
}