@import './base';

.line {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    background: #345B6B;
    width: 100px;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}